body {
  // background-color: $very-dark-blue;
}

.container {
  // background-color: red;
  width: 88%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.menu-card {
  background-color: $dark-blue;
  border-radius: 1.6rem;

  .card-report {
    background-color: $blue;
    border-radius: 1.6rem;
    padding: 3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.8rem;

    img {
      width: 26%;
      border: 3px solid white;
      border-radius: 50%;
    }

    .report {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.4rem;

      p {
        color: $pale-blue;
        font-size: 1.5rem;
      }

      .name {
        color: white;
        font-size: 2.35rem;
        font-weight: 300;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;

    .menu-link {
      color: $desaturated-blue;
      font-size: 1.8rem;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .menu-active {
      color: white;
    }
  }
}

.regular-card {
  // border: 1px solid red;
  background-color: $work;
  width: 100%;
  border-radius: 1.6rem;
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: 92% -1rem;

  .property-card {
    background-color: $dark-blue;
    margin-top: 4rem;
    border-radius: 1.6rem;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .title {
        color: white;
        font-size: 1.8rem;
        font-weight: 500;
      }

      .points {
        display: flex;
        align-items: center;
        justify-content: center;

        .point {
          background-color: $pale-blue;
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 50%;
          margin: 0.2rem;
        }
      }
    }

    .row-2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .hour {
        color: white;
        font-size: 3rem;
        font-weight: 300;
      }
      .description {
        color: $pale-blue;
        font-size: 1.5rem;
      }
    }
  }
}
